@import "src/scss/variables";

.TextInput {
  position: relative;
  margin-bottom: rem(15);

  &__input {
    &.ant-input, &.ant-input-password {
      padding: rem(10) rem(12);
      font-size: $font-size-regular;

      &:focus,
      &:hover {
        border-color: $font-color-default;
        box-shadow: none;
      }
    }
  }

  &__label {
    font-size: $font-size-mini;
    margin-bottom: rem(8);
  }

  &__error {
    font-size: 12px;
    color: $font-color-danger;
  }

  &__has-error {
    & .TextInput__label, & .TextInput__input {
      color: $font-color-danger;
    }

    & .TextInput__input {
      border-color: $color-danger;
    }
  }
}
