@keyframes shake {
  0% {
    transform: translate(10px)
  }
  20% {
    transform: translate(-10px)
  }
  40% {
    transform: translate(5px)
  }
  60% {
    transform: translate(-5px)
  }
  80% {
    transform: translate(3px)
  }
  100% {
    transform: translate(0px)
  }
}

@keyframes background-animation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
