@import "variables";

// override ant
* {
  font-family: $font-family;
}

html body {
  font: {
    size: $font-size-regular;
  }
  color: $font-color-default;

  h1, h2, h3, h4, h5 {
    font-weight: $font-weight-semibold;
  }

  h1 {
    font-size: $font-size-h1;
  }

  h2 {
    font-size: $font-size-h2;
  }

  h3 {
    font-size: $font-size-h3;
  }

  h4 {
    font-size: $font-size-h4;
  }

  h5 {
    font-size: $font-size-h5;
  }

  p {
    font-weight: $font-weight-regular;
  }

  .ant-layout {
    height: 100%;
  }

  .ant-layout-content {
    padding: $padding-lg;
  }
}