$white: #fff;
$gray: #636363;
$gray-1: #4D5961;
$gray-2: #C4C4C4;
$gray-3: #F1F2F8;
$black: #000;

$blue: #449FDE;
$blue-1: #2763AB;
$blue-2: #4AACE8;
$blue-3: #E1EEF5;
$blue-4: #4586C2;

$red: #ef3f3d;
$red-1: #D11010;
$purple: #673ab7;
$purple-2: #5c5174;

$green: #61C34A