@import "colors";
@import "func";
@import "mixins";

// breakpoints
$lg-width: rem(1280);
$md-width: rem(994);
$sm-width: rem(767);

// palette
$color-primary: $blue;
$color-danger: $red;
$color-success: $green;
$bg-color: $gray-3;

// font
$font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-color-default: $purple;
$font-color-primary: $blue;
$font-color-danger: $red;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size-display: rem(72);
$font-size-h1: rem(36);
$font-size-h2: rem(24);
$font-size-h3: rem(18);
$font-size-h4: rem(16);
$font-size-h5: rem(14);
$font-size-regular: rem(16);

$font-size-link: $font-size-regular;

$font-size-mini: rem(12);
$font-size-button: rem(14);
$font-size-button-mini: rem(12);

// layout
$padding-lg: rem(32);
$padding-md: rem(24);
$padding-sm: rem(16);
$padding-xs: rem(12);

$sidebar-width: rem(264);
$sidebar-background: linear-gradient(180deg, $blue-1 0%, $blue-2 100%);

$header-height: rem(64);
$header-background: $white;