@import "src/scss/func";
@import "src/scss/variables";

.Button {
  &.ant-btn {
    height: auto;
    padding: rem(12) rem(24);
    color: $white;
    border-radius: rem(45);
    text-transform: uppercase;
    transition-duration: .2s;
  }

  &.ant-btn-default {
    background: $red;
    border: none;

    &:hover {
      background: $red-1;
      color: $white;
    }
  }

  &.ant-btn-primary {
    background: $white;
    color: $font-color-primary;
    border-color: $color-primary;

    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
}