@import 'src/scss/variables';

.Login {
  @include flex-center(column);
  width: 100%;
  height: 100%;

  &__container {
    @include flex-center(column);
    min-width: rem(607);
    padding: rem(48) rem(138) rem(72);
    background-color: $white;

    & .description {
      margin-bottom: rem(40);
    }

    &--form {
      width: 100%;

      & .sign-button {
        width: 100%;
      }
    }
  }
}