@import 'src/scss/variables';

.AppContainer {
  width: 100%;
  height: 100%;
  background-color: $bg-color;

  &.loading {
    @include flex-center
  }

  &.stub {
    @include flex-center(column)
  }
}
